element.style {
}
.hero {
    background-image: url(./images/the-flatiron-building.png);
    text-align: center;
    color: white;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Helvetica", sans-serif;
}
.hero h1 {
    font-size: 70px;
}
h1, h2, h3 {
    font-weight: bold;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
